div#garage {
    display: flex;
    align-items: center;
    width: 695px;
    height: 257px;
    padding: 20px;
    background-color: #afdf20;
    background-image: url("../../../public/car.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}