div#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 40px;
    padding: 15px 40px;
    margin-bottom: 10px;
    background-color: #2080df;
    color: white;
}