div#footer {
    background-color: black;
    color: white;
    text-decoration: underline;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
