div#first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#second {
    width: 100%;
}

div#third {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

div#fourth {
    display: flex;
    flex-direction: column;
    padding: 200px 0 50px 0;
    margin-top: 50px;
    background: linear-gradient(to bottom, white, antiquewhite, antiquewhite, antiquewhite, antiquewhite);
}